{% extends "base.html" %}

{% block content %}
<h1><center>Log in</center></h1>

<p>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
    <p class="error">{{ message }}</p>
        {% endfor %}
    {% endif %}
    {% endwith %}
</p>

<form action="/login" method="post">
    <table>
        <tr>
            <td><label for="email">Email</label></td>
            <td>
                <input name="email" type="email" value="{{ email }}">
            </td>
        </tr>
        <tr>
            <td><label for="password">Password</label></td>
            <td>
                <input name="password" type="password">
            </td>
        </tr>
    </table>
    <input type="submit" value="Login"/>
</form>

{% endblock %}